:root{
  --color-1: #53221B;
  --color-2: #C29D89;
  --color-3: #444239;
  --color-4: #6C5E49;
  --color-5: #5B5151;
  --shadow-1-1: #85362B;
  --shadow-1-2: #6C2C23;
  --shadow-1-3: #3A1813;
  --shadow-1-4: #210E0B;
  --shadow-2-1: #FFFBDB;
  --shadow-2-2: #FCCCB2;
  --shadow-2-3: #886E60;
  --shadow-2-4: #4E3F37;
  --shadow-3-1: #6D6A5B;
  --shadow-3-2: #58564A;
  --shadow-3-3: #302E28;
  --shadow-3-4: #1B1A17;
  --shadow-4-1: #AD9675;
  --shadow-4-2: #8C7A5F;
  --shadow-4-3: #4C4233;
  --shadow-4-4: #2B261D;
  --shadow-5-1: #B87D70;
  --shadow-5-2: #96655B;
  --shadow-5-3: #513731;
  --shadow-5-4: #2E1F1C;
  --dl-radius-radius-radius8: 8px;
  }
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;

}
.button {
  color: #3d3d3d;
  margin: 5px;
  display: flex;
  padding: 6px 14px;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  align-items: center;
  font-family: sans-serif;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  align-self: center;
}
.button:hover{
  cursor:pointer;
  color: #f2f2f2;
  background-color:#3d3d3d;;
}
.input {
  color: grey;
  cursor: auto;
  border-color: black;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: whitesmoke;
}
.textarea {
  font-size: larger;
  align-self: center;
  font-family: initial;
  font-weight: bold;
  text-transform: uppercase;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.textbutton {
  align-self: center;
  font-family: initial;
}
.color1_text {
  color: var(--color-1);
  align-self: center;
  font-family: initial;
}
.Tester {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80%;
  display: flex;
  align-items: center;
  align-content: space-around;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-around;
}
.color3_bg {
  background-color: var(--color-3);
}
.color2_text {
  color: var(--color-2);
  align-self: center;
  font-family: initial;
}
.color2_bg {
  background-color: var(--color-2);
}
.color3_text {
  color: var(--color-3);
  align-self: center;
  font-family: initial;
}
.color4_text {
  color: var(--color-4);
  align-self: center;
  font-family: initial;
}
.color5_text {
  color: #734e46;
  align-self: center;
  font-family: initial;
}
.color4_bg {
  background-color: var(--color-4);
}
.color1_bg {
  background-color: var(--color-1);
}
.color5_bg {
  background-color: #734e46;
}
.black_bg {
  align-items: center;
  justify-content: space-around;
  background-color: black;
}
.white_bg {
  border: 2px dotted black;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
html {
  line-height: 1.15;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

figcaption {
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
}

textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"]button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input {
  padding: 2px 4px;
}
img {
  display: block;
}
html {
  scroll-behavior: smooth;
}
